@import '~antd/dist/antd.less';
@import '~antd/es/style/themes/dark.less';

//@html-selector: ~"[data-theme='dark']";
//@theme: dark;

@primary-color: #8e24aa;
@border-radius-base: 10px;
@text-color: rgba(255, 255, 255, 0.85);
