@import "reset.css";

:root {
    --component-background: #ffffff;
    /* ?? */
    --component-background-opacity: #ffffff73;
    --layout-body-background: #f0f2f5;

    /* Border */
    --border-light-color: rgba(0, 0, 0, 0.1);
    --border-radius: 10px;

    /***/
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    /***/
    --color-main: rgba(0, 0, 0, 0.65);
    --color-strong: rgba(0, 0, 0, 0.85);
    --color-second: rgba(0, 0, 0, 0.45);
    --color-minimum: rgba(0, 0, 0, 0.25);

    /***/
    --font-size-base: 14px;
    --font-family: "Museo Cyrl", Helvetica, Arial, sans-serif;
}

[data-mode="default"] {
    --color-primary: #8e24aa;
    --color-primary-hover: #8e24aacc;

    --color-primary-push-from: #8e24aa26;
    --color-primary-push-to: #8e24aa00;

    --color-warning: #ff9800;
    --color-warning-hover: #ff9800cc;

    --color-info: #26c6da;

    --color-danger: #f55a4e;
    --color-danger-hover: #f55a4ecc;

    --color-success: #5cb860;
}

[data-theme="default"] {
    --component-background: #ffffff;
    --component-background-opacity: #ffffff73;
    --border-light-color: rgba(0, 0, 0, 0.1);
    --layout-body-background: #f0f2f5;

    --color-main: rgba(0, 0, 0, 0.65);
    --color-strong: rgba(0, 0, 0, 0.85);
    --color-second: rgba(0, 0, 0, 0.45);
}

[data-theme="dark"] {
    --component-background: #141414;
    --component-background-opacity: #14141473;
    --border-light-color: rgba(255, 255, 255, 0.1);
    --layout-body-background: #000000;

    --color-main: rgba(255, 255, 255, 0.85);
    --color-strong: rgba(255, 255, 255, 1);
    --color-second: rgba(255, 255, 255, 0.65);
}

/* */

.basic {
    color: var(--color-main);
}

.warning {
    color: var(--color-warning);
}

.success {
    color: var(--color-success);
}

.danger {
    color: var(--color-danger);
}

.second {
    color: var(--color-second);
}

/*.minimal { color: var(--); }*/
